beautifulsoup4==4.12.3
Bio==1.7.1
datasets==3.2.0
fire==0.7.0
fitz==0.0.1.dev2
imgkit==1.2.3
matplotlib==3.10.0
nltk==3.9.1
numpy==2.2.1
pandas==2.2.3
pdf2image==1.17.0
Pillow==11.1.0
protobuf==5.29.2
PyPDF2==3.0.1
pyquaternion==0.9.9
pytest==8.3.4
Requests==2.32.3
requests_cache==1.2.1
roman==4.2
rouge_score==0.1.2
scikit_learn==1.6.0
scipy==1.15.0
spacy==3.8.3
spacy_layout==0.0.11
TexSoup==0.3.1
thefuzz==0.22.1
tqdm==4.67.1
transformers==4.47.1
torch==2.5.1
PyYAML==6.0.2
Jinja2==3.1.5
evaluate==0.4.3
sacrebleu
moverscore
pyemd
git+https://github.com/google-research/bleurt.git
git+https://github.com/inseq-team/inseq.git
shap==0.45.1
